*.iml
.gradle
/local.properties

/.idea

.DS_Store
/build
/captures
.externalNativeBuild
.cxx

bin/
gen/
/keystore

/*/build/
/*/out
/*/*/build
/*/*/production
captures/
.navigation/
*.ipr
*~
*.swp
*.bak
